<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ToDoApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetTasks</servlet-name>
    <servlet-class>com.somesh.web.GetTasksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTasks</servlet-name>
    <url-pattern>/get_tasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTask</servlet-name>
    <servlet-class>com.somesh.web.AddTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTask</servlet-name>
    <url-pattern>/add_task</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>com.somesh.web.DeleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/delete_task</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUpdate</servlet-name>
    <servlet-class>com.somesh.web.ShowUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdate</servlet-name>
    <url-pattern>/show_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTask</servlet-name>
    <servlet-class>com.somesh.web.UpdateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTask</servlet-name>
    <url-pattern>/update_task</url-pattern>
  </servlet-mapping>
</web-app>